<a href="https://colab.research.google.com/github/sabajannat78/Test-repo/blob/main/datacleaning1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/zeerakb1/dataset/main/tv_shows.csv', index_col='Unnamed: 0')

In [3]:

x= df.head(5)
x

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1

In [ ]:
df.dtypes

ID                  int64
Title              object
Year                int64
Age                object
IMDb               object
Rotten Tomatoes    object
Netflix             int64
Hulu                int64
Prime Video         int64
Disney+             int64
Type                int64
dtype: object

In [ ]:
df.shape

(5368, 11)

In [ ]:
df.describe

<bound method NDFrame.describe of         ID                                  Title  Year  Age    IMDb  \
0        1                           Breaking Bad  2008  18+  9.4/10
1        2                        Stranger Things  2016  16+  8.7/10
2        3                        Attack on Titan  2013  18+  9.0/10
3        4                       Better Call Saul  2015  18+  8.8/10
4        5                                   Dark  2017  16+  8.8/10
...    ...                                    ...   ...  ...     ...
5363  5713                       Paradise Islands  2017  NaN     NaN
5364  5714                         Mexico Untamed  2018  NaN     NaN
5365  5715                  Wild Centeral America  2020  NaN     NaN
5366  5716                            Wild Russia  2018  NaN     NaN
5367  5717  Fearless Adventures with Jack Randall  2018  NaN     NaN

     Rotten Tomatoes  Netflix  Hulu  Prime Video  Disney+  Type
0            100/100        1     0            0        0     1
1             96/100        1     0            0        0     1
2             95/100        1     1            0        0     1
3             94/100        1     0            0        0     1
4             93/100        1     0            0        0     1
...              ...      ...   ...          ...      ...   ...
5363          10/100        0     0            0        1     1
5364          10/100        0     0            0        1     1
5365          10/100        0     0            0        1     1
5366          10/100        0     0            0        1     1
5367          10/100        0     0            0        1     1

[5368 rows x 11 columns]>

In [ ]:
#cleaning the data
df.isnull()

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
5363,False,False,False,True,True,False,False,False,False,False,False
5364,False,False,False,True,True,False,False,False,False,False,False
5365,False,False,False,True,True,False,False,False,False,False,False
5366,False,False,False,True,True,False,False,False,False,False,False
5367,False,False,False,True,True,False,False,False,False,False,False

In [ ]:
df.isna().sum()

ID                    0
Title                 0
Year                  0
Age                2127
IMDb                962
Rotten Tomatoes       0
Netflix               0
Hulu                  0
Prime Video           0
Disney+               0
Type                  0
dtype: int64

In [ ]:
df=df.dropna()
df

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
5336,5684,Disney Family Sundays,2019,all,5.6/10,31/100,0,0,0,1,1
5339,5687,Wild Chile,2018,7+,7.5/10,30/100,0,0,0,1,1
5340,5688,Howie Mandel's Animals Doing Things,2018,all,3.2/10,30/100,0,0,0,1,1
5341,5690,The Big Fib,2020,all,5.4/10,29/100,0,0,0,1,1
5342,5691,Vampirina: Ghoul Girls Rock!,2018,all,7.7/10,28/100,0,0,0,1,1

In [ ]:
df=df.dropna(inplace=True)
df

<ipython-input-29-ab699a04f26b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df=df.dropna(inplace=True)

In [ ]:
a="93/100"
b=a.split('/')[0]
int(b)

93

In [ ]:
df.isna().sum()

ID                 0
Title              0
Year               0
Age                0
IMDb               0
Rotten Tomatoes    0
Netflix            0
Hulu               0
Prime Video        0
Disney+            0
Type               0
dtype: int64

In [ ]:
df["Rotten Tomatoes"] = df["Rotten Tomatoes"].str.split(pat="/", expand=True)[0]
df["Rotten Tomatoes"] =df["Rotten Tomatoes"].str.replace("/100","").astype(int)

In [ ]:
df["IMDb"] = df["IMDb"].str.split(pat="/", expand=True)[0]
df["IMDb"] =df["IMDb"].str.replace("/10","").astype(float)

In [ ]:
df.dtypes

ID                   int64
Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes      int64
Netflix              int64
Hulu                 int64
Prime Video          int64
Disney+              int64
Type                 int64
dtype: object

In [ ]:
def replace_IMDb(row):
  if pd.isnull(row["IMDb"])==True:
    rating=row["Rotten Tomatoes"]/10
    row["IMDb"]=rating
  return row

df=df.apply(lambda row: replace_IMDb(row), axis=1)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df.tail()

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
5363,5713,Paradise Islands,2017,NaN,10.0,10,0,0,0,1,1
5364,5714,Mexico Untamed,2018,NaN,10.0,10,0,0,0,1,1
5365,5715,Wild Centeral America,2020,NaN,10.0,10,0,0,0,1,1
5366,5716,Wild Russia,2018,NaN,10.0,10,0,0,0,1,1
5367,5717,Fearless Adventures with Jack Randall,2018,NaN,10.0,10,0,0,0,1,1